.form {
  &__title {
    .mat-icon {
      line-height: 33px;
      padding: 0 10px;
      animation-duration: 400ms;
      animation-delay: 600ms;
      animation-name: fadein;
      animation-iteration-count: 5;
    }
  }
  &__field {
    width: 50%;
    padding: 0px 10px;
    box-sizing: border-box;
    &--disabled {
      pointer-events: none;
    }
  }
  &__footer {
    text-align: right;
    button {
      margin: 0 10px;
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
